services:
  capstonea03-pg:
    container_name: capstonea03-pg
    image: docker.io/postgres:15-alpine
    restart: unless-stopped
    networks:
      - capstonea03-network
    env_file:
      - .env.capstonea03
    volumes:
      - ./volume/capstonea03-pg:/var/lib/postgresql/data:Z
  
  capstonea03-mongo:
    container_name: capstonea03-mongo
    image: docker.io/mongo:7
    restart: unless-stopped
    networks:
      - capstonea03-network
    env_file:
      - .env.capstonea03
    volumes:
      - ./volume/capstonea03-mongo:/data/db:Z

  capstonea03-be:
    container_name: capstonea03-be
    image: capstonea03:distroless-static-debian12
    restart: unless-stopped
    networks:
      - capstonea03-network
    ports:
      - "8080:8080"
    env_file:
      - .env.capstonea03
    volumes:
      - ./volume/capstonea03-be:/public:Z
    depends_on:
      - capstonea03-pg

  capstonea03-fe:
    container_name: capstonea03-fe
    image: capstonea03:nginx-alpine-slim
    restart: unless-stopped
    networks:
      - capstonea03-network
    ports:
      - "8081:80"
    depends_on:
      - capstonea03-be


networks:
  capstonea03-network:
